.places {
    max-width: 984px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 75px;
}

@media screen and (max-width: 1279px) {
    .places {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .places {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin-top: 64px;
    }
}