.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    min-width: 1184px;
    height: 740px;
    margin: 0 auto;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.cover:before{
    content:'';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 1s;
}

.cover:hover:before{
    content: '';
    opacity: 0.8;
    background-color: #2A2C2F;
}

@media screen and (max-width: 1279px){
    .cover{
        min-width: 1024px;
        height: 640px;
    }
} 

@media screen and (max-width: 1023px){
    .cover{
        min-width: 768px;
        height: 480px;
        margin-top: 90px;    
    }
} 


@media screen and (max-width: 767px){
    .cover{
        min-width: 320px;
        height: 200px;
        margin-top: 66px;    
    }
} 