.place__link {
    font-family: "Inter", "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.place__link:hover{
    transition: ease-in-out 0.5s;
    opacity: 0.8;
}